<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <p-toolbar styleClass="mb-3 bg-cyan-500 ">
                <h5 class="block text-white font-bold font-medium mb-1 ">
                    Ciudadano: {{(dataCiudadano != null)?dataCiudadano.apellido + " " + dataCiudadano.nombre : "Sin ciudadano"}}
                </h5>
            </p-toolbar>
            <p-tabView styleClass="mt-2">
                <p-tabPanel header="Datos Personales" leftIcon="pi pi-id-card">
                    
                    <div class="grid justify-content-center">
                        <div class="col-12">                        

                            <div class="p-formgrid grid">                
                                <!-- FORMULARIO CIUDADANO -->
                                <div class="col-12">  
                                    <form [formGroup]="formaCiudadano">
                                        <!-- CARD DATOS PERSONALES-->
                                        <div class="card p-fluid">

                                            <h5 class="block font-bold font-medium mb-2">Datos de personales</h5>
                                            
                                            <div class="formgrid grid">
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="dni">DNI</label>
                                                    <input type="text" pInputText id="dni" formControlName="dni" readonly />
                                                    
                                                </div>
                                            </div>

                                            <div class="formgrid grid">
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="apellido">Apellido</label>
                                                    <input type="text" pInputText id="apellido" formControlName="apellido" readonly />
                                                    
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" pInputText id="nombre" formControlName="nombre" readonly />
                                                    
                                                </div>
                                            </div>
                    
                                            <div class="formgrid grid">
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="sexo_id">Sexo</label>
                                                    <input type="text" pInputText id="nombre" formControlName="sexo" readonly />                                                
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="fecha_nac">Fecha Nacimiento</label>
                                                    <input type="text" pInputText id="nombre" formControlName="fecha_nac" readonly />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!-- FIN CARD DATOS PERSONALES -->

                                        <!-- CARD DATOS DE CONTACTO -->
                                        <div  class="card p-fluid">
                                            <h5 class="block font-bold font-medium mb-2">Datos de contacto</h5>

                                            <div class="formgrid grid">
                                                <div class="field col">
                                                    <label for="telefono">Teléfono</label>
                                                    <input type="text" pInputText id="telefono" formControlName="telefono" readonly />
                                                    
                                                </div>
                                            </div>
                                            <div class="formgrid grid">

                                            <div class="field col">
                                                <label for="email">Correo electrónico</label>
                                                <input type="text" pInputText id="email" formControlName="email" readonly />
                                                
                                            </div>
                                            </div>
                                            
                                        </div>
                                        <!-- FIN CARD CENTRO MEDICAION -->
                                    </form>
                                </div>
                                <!--  FIN FORMULARIO CIUDADANO -->
                                
                            </div>

                        </div>
                    </div>

                </p-tabPanel>
                
            </p-tabView>
        </div>

    </div>
</div>